@charset "UTF-8";

*{	box-sizing: inherit;
}
img {
	border: none;
}

select {
	font-size: 8pt font-family:맑은 고딕, 돋움, 굴림;
	height: 30px;
		box-sizing: inherit;
	
}

table {
	
	width: 1200;
	cellspacing: 1px;
	cellpadding: 1px;
	border: 1;
	margin: 1px;
	align: center;
	border-color:gray; width="70%" height="80%"
}

.input {
	height: 12px;
}

.btn {
	margin-top: 10px;
	text-align: center;
	background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
	clear:both;
margin-left:300px;
width:200px;
height:31px;
text-align:center;
line-height:31px;
background-color:#000;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
font-family:monospace;
}

#joinform {
		box-sizing: inherit;
	
	float: left;
	width: 800px;
    padding: 20px;
    margin-top:20px;
      margin-left:auto;
     font-family:맑은 고딕,돋움,굴림;
     color:#888888;
     font-size:20pt;
     text-align: center;
    height:500px;
    border-radius: 10;
	
}